
@{
    ViewBag.Title = "BankInstructionApp";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ortalanmış Başlık</title>
    <style>
        .centered {
            text-align: center;
            margin-top: 50px; 
        }

        .big-text {
            font-size: 4em;
        }
    </style>
</head>
<body>
    <div class="centered">
        <h1 class="display-4 big-text">Hoş Geldiniz !</h1>
    </div>
</body>
</html>
             